@keyframes largeur60 {
  from {width: 0;}
  to {width: '80%';}
}

@keyframes largeur100 {
  from {width: 0;}
  to {width: '100%';}
}

@keyframes slide_mobile {
  from {opacity: 0; background:transparent;}
  20% {background: $color__primary;}
  to { opacity: 1;background: $color__primary;}
} 

@keyframes slide {
  from {left: 0; background:transparent;}
  20% {background: $color__primary;}
  to { left: -6.8em;background: $color__primary;}
} 

@keyframes opacity {
  from {opacity: 0;}
  to  {opacity: 1;} 
} 

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-150px * var(--scroll-iterations)))}
}
