// GENERICS
/***************************************************/




::-webkit-input-placeholder, :-ms-input-placeholder, ::placeholder { 
  color: #c77c98;
} 

img:not(.single-post img) {
	max-width:100%;
	width: 100%;
	height: auto;
}


h1 {

}

h2, h1.entry-title {
	font-family: $font__title;
	font-size: 2.5em;
	color: $color__primary;
	line-height:1.2em;

	@media (min-width: 992px) {
		font-size: 3.5em;
	}
}

h2 a, h2 a:visited {
	font-size: 1em;
	color: $color__primary;
	text-decoration: none;
	transition: color .5s;
}

h2 a:hover {
	color: $color__secondary;
	text-decoration: none;
}

h3 {
	font-family: $font__title;
	color: $color__primary;
	font-size: 3.75em;
	line-height:1em;
	margin-bottom: 20px;
}

.single h3 {
	margin:1.5em 0;
	font-size: 2.2em;
}

h4 {
	font-family: $font__title;
	font-size: 3.75em;
	line-height:1em;
}

a {
	
}

p { 
	font-family: $font__main;
	color: $color__main;
	font-size: 1.1em;
	line-height: 1.8em;
}

.bg-bottom {
	position: absolute;
	bottom:0;
	width: 100%;
}


//    BODY
/*******************************/
.scale {
	transition: all 0.5s;

	&.scaleOut {
		transform: scale(0.99);
	}

	&.scaleIn {
		transform: scale(1);
	}
}


#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: none;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  transition: opacity 2s;

  &.show {
  	opacity: 1;
  	display: block;
  }

   &.hide {
  	opacity: 0;
  	display: none;
  }

}


.noise {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .5s infinite;
  opacity: .9;
  visibility: visible;
  z-index: 9999;
  pointer-events: none;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}



//    ELEMENTS
/*******************************/

.read-more {
	display: inline-block;
	text-align:center;
	margin-top: 25px;

	a {
		color: $color__primary;
		font-family: $font__title;
		font-size: 1.5em;
		display: inline-block;
		padding: 0 10px;
		transition: color 0.5s;


		&:hover {
			text-decoration: none;
			color: $color__secondary;
		}

		&:after {
			content:"";
			background-image:url(../../img/right-arrow.svg);
			display: inline-block;
			margin-left: 15px;
			background-size:cover;
			width:23px;
			height: 19px;
			background-repeat: no-repeat;
			transition: background-image 0.5s;
		}

		&:hover:after {
			background-image: url(../../img/right-arrow-hover.svg);
		}
	}

	&:before, &:after {
		@include border-button;
		border-color: $color__primary;
	}

	&:hover:before, &:hover:after {
		border-color: $color__secondary;
	}

	&:before {
		transform: translateY(5px);
	}

	&:after {
		transform: scaleY(-1) translateY(8px);
	}
} 

body {
	font-size:10px;
}


@media (min-width: 992px) {
	body {
		font-size: 16px;
	}
}


@media (min-width: 2560px) {
	body {
		font-size: 24px;
	}

	.read-more a:after {
	    width: 30px;
	    height: 25px;
	    background-position-y: 5px;
	}
}

@media (min-width: 3600px) {
	body {
		font-size: 32px;
	}

/* 	.read-more a:after {
    width: 30px;
    height: 25px;
    background-position-y: 5px;
} */
}


/* SUB HEADER
*************************/

.sub_header_content {

	padding: 4.4em 4.4em 7em 4.4em;

	.sub_header-title {
		font-size: 2.5em;
		color: #fff;

		&:after {
			content:"";
			background: #FFF;
			height:6px;
			width:100%;
			display: block;
			margin:2rem 0;

			@media (min-width: 992px) {
				margin:3.43rem 0;
			}

		}

		@media (min-width: 992px) {
			font-size: 3.75em;
		}
	}

	.sub_header-subtitle {
		font-size: 1.5em;
		line-height: 1.3em;
		color: #FFF;

		@media (min-width: 992px) {
			font-size: 2.5em;
		}
	}

	.sub_header-paragprahe {

		padding-top: 2.5rem;

		@media (min-width: 992px) {
			column-count: 2;
			column-width: 50%;
			column-gap: 10.5em;
		}


		p {
			color: #FFF;

		} 
	}
}


/* PORTFOLIO
*************************/

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
   	height: auto;

   	/* .video-embedded {
   		display: none;
   	} */

   	video {
   		width: 100%;
   	}

   	iframe { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .poster {
		position: absolute;
		top:0;
		left: 0;
		width:100%;
		height:100%;
		z-index: 100;
		display: none;
	}
}

.portfolio-content h3 {
	font-size: 2.5em;
	margin-top: 1.8rem;

	@media (min-width: 992px) {
		font-size: 3.5em;
	}
}

.post-cat ul {
	list-style-type: none;
	display:flex;
}

.videos-categories {
	list-style-type: none;
	display:flex;
	justify-content: space-around;

	li {

		a {
			color: #1b262c;
			text-decoration:underline;
			font-family: $font__primary;
			font-size: 1.4em; 

			&:hover {
				color: $color__primary;
			}
		}
	}

	@media (min-width: 992px) {
		justify-content: flex-end;

		li {
			margin-left: 7.6em;
		}
	}
}

.post-cat {
	padding-top: 2em;

	li {
		margin-right: 1.5em;

		a {
			color: $color__secondary;
			text-decoration:underline;
			font-family: $font__primary;
			font-size: 1.4em;
			transition: color .5s;

			&:hover {
				color: $color__primary;
			}
		}
	}
}

.cat-single {
	color: $color__secondary;
	font-family: $font__primary;
	font-size: 1.4em;
}

.pagination {
	
	justify-content: center;
	padding-bottom: 6.3em;
	
	.page-numbers {
		font-family: $font__primary;
		color: $color__primary;
		font-size: 3.5em;
		margin: 0 .5rem;
		text-decoration: none;
		transition: color 0.5s;

		&.current {
			text-decoration:underline;
		}

		&:hover {
			color: $color__secondary;
		}
	}


	li {
		margin-right: 1.5em;

		a {
			color: $color__secondary;
			text-decoration: underline;
			font-family: $font__primary;
			font-size: 1.4em;
		}
	}
}



/********************************
		TEAM
		*************************/

#team-slider .column:first-child {
	
	/* @media (min-width: 992px) {
		padding-left:0;
	} */
}

/* .team-slider .column:last-child {
	padding-right:0;
} */

.team_slider-single {

	h4 {
		color:  $color__primary;
		font-size:2.2em;
		margin-top:1em;
		margin-bottom: 0.5em;
	}

	h5 {
		color: $color__secondary;
	}

	.paragraphe {
		margin-top: 4em;
		width: 80%;
	}

	img {
		max-width: 100%;
	}
}




/**************************************
          BLOG
          *****************************/

.standard-featured {
	width:100%;
	height:36.8em;
}

.blog-categories {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin-bottom: 2.5em;
	justify-content: space-around;

	@media (min-width: 992px) {
		justify-content: flex-start;
	}

	li {
		
		

		a {
			color: #FFF;
			text-decoration:underline;
			font-family: $font__primary;
			font-size: 1.4em;
			transition: color .5s;

			&:hover {
				color: $color__primary;
			}
		}

		@media (min-width: 992px) {
			margin-right: 7.6em;
		}
	}
}

.page-template-blog .blog-categories li, .archive .blog-categories li {

	@media (min-width: 992px) {
			margin-right: 3.6em;
		}

}



article {
	margin: 4.3em 0;
}

article:first-child {
	margin-top: 0;
}

article:last-child {
	margin-bottom:8.75em;
}

.post-single  {
	background: white;
	padding:0 3.5em 3.5em 3.5em;
	@include boxshadow;

}

.standard-read-more {
	text-align: right;
	margin-top: 5.3em;

	a {
		font-family: $font__primary;
		color: #1b262c;
		font-size: 1.4em;
		text-decoration: underline;
		transition: color .5s;

		&:hover {
			color: $color__primary;
		}
	}

}

.share-container {
	
	text-align: center;
	margin-bottom: 11.5em;


	.share {
		font-size: 1.46em;
		margin-bottom: 1.5em;
		color: $color__secondary;
		font-family: $font__primary;
	}
}

.gk-social-buttons {
	ul {
		display: flex;
		list-style-type: none;
		justify-content: center;

		li {
			margin: 0 .75em;
			a {
				color: $color__primary;
			}
		}
	}
}



.related-bg {
	height: 23.3em;
 }

 .related-single {
 	@include boxshadow;
 	background-color: white;
 	height: 100%;
 }

 .related-content {
 	background: white;
	padding: 3em;
 }

#related-posts .column {
	display: flex;
	flex-direction: column;
}



/*******************************
		CONNECT
		************************/

.modal-connect {
	background: $color__primary;
	width:100%;
	height: 100vh;
	right: 0;
	top: 0;
	position: fixed;
	z-index: 9999;
	transition: opacity 0.5s;


	@media (min-width: 992px) {
		width: 60%;
	}


	&.animate {

		animation-name: largeur100;

		@media (min-width: 992px) {
			animation-name: largeur60;
		}

		animation-duration: 1s;
		animation-fill-mode: forwards;  
	}
}



.close-btn {
	height: 6.8em;
	width: 6.8em;
	position:absolute;
	top: 0;
	left:0;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items:center;
	transform-origin: center right;
	transition: opacity 0.5s;

	@media (min-width: 992px) {
		top: 2.3em;
	}

	&.animate {

		animation-name: slide_mobile;

		@media (min-width:992px) {
			animation-name: slide;
		}

		animation-duration: 1s;
		animation-delay: 0.5s;
		animation-fill-mode: forwards;  
	}

	/* &.animate-backwards {
		animation-name: slide;
		animation-duration: 8s;
		animation-delay: 2s;
		animation-fill-mode: forwards;  
		animation-direction: reverse;
	} */
}


.close-shape {
    $size: 50px;
    height: $size;
    width: $size;
    position: relative;
    box-sizing: border-box;
    line-height: $size;
    display: inline-block;
    opacity: 0;
    

    &:before, &:after {
        $width: 50px;
        $height: 10px;
        transform: rotate(-45deg);
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -$height/2;
        margin-left: -$width/2;
        display: block;
        height: $height;
        width: $width;
        background-color: #fff;
        transition: all 0.25s ease-out;
    }

    &.hide:before, &.hide:after {
    	opacity: 0;
    }

    &:after {
        transform: rotate(-135deg);
    }

    &:hover {

        &:before, &:after {
            transform: rotate(0deg);
        }
    }



    &.animate {
    	animation-name: opacity;
    	animation-duration: 0.5s;
		animation-delay: 1s;
		animation-fill-mode: forwards;  
    }

}

#form-connect {
	transition: opacity 0.5s;
}

.connect-content {
	

	h2 {
		color: #c77c98;
		font-size: 2em;

		@media (min-width: 992px) {
			font-size: 3.5em;
		}
	
		&:after {
			content:"";
			background: #3d041e;
			height: 3px;
			display:inline-block;
			width: 100%;
			margin: 1rem 0 .5rem 0;

			@media (min-width:992px) {
				margin: 2.5rem 0;	
			}
		}
	}

	.social-menu {
		list-style-type: none;

		li {
			line-height: 1.1;
			 a {
			 	color: #c77c98;
				font-size: 3.5em;
				font-family: $font__primary;
			}
		}
	}

	.tel {

		margin-top: 5em;

		a {
			color: #c77c98;
			font-size: 3.5em;
			font-family: $font__primary;
		}
	}
}

#preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	width:50px; 
} 


.show {
	opacity: 1;
}

.hide {
	opacity:0;
}


#sortlist_widget img {

	@media (min-width: 992px) {
		width: 512px;
		height: 128px;
	}	
}