footer {
	background:$color__primary;

	padding:7em 0 2em 0;

	.follow, .subscribe {
		text-align:center;
	}

	h3 {
		color:white;
	}

	ul {
		list-style-type: none;

		li a {
			color: white;
			text-decoration: none;
			font-family: $font__title;
		}
	}

	.socials ul{
		list-style-type: none;
		display: flex;
		justify-content: space-around;

		a {
			font-family: $font__title;
		}
	}

	.follow a {
		color: #3D041E;
		text-decoration: underline;
	}

	.subscribe {
		padding-top:2em;
	}

}

.menu-footer {

	color: white;
	font-family: $font__title;
	
	a, a:hover, a:visited {
		color: white;
		text-decoration: none;
	}
	
	
	#logo {
		fill: white;
		width: 50%;
		margin-bottom: 1em;
	}

	.row:before, .row:after {
		content: "";
		background: #3D041E;
		height:1px;
		width: 100%;
		display: block;
		margin: 4em 0;
	}

	.contact {
		line-height: 1.3;

		a {
			color: white;
			text-decoration: underline;
		}

		address {
			margin-botto: 1em;
		}

	}
}


.socials a, .socials a:hover, .socials a:visited {
	color: white;
	text-decoration: none;
}

.socials li:before {
	font-size: 30px;
	color: #3D041E;
	padding-right: 15px;
	vertical-align: middle;
}

.twitter {
  @extend %fa-icon;
  @extend .fab;

   &:before {
    content: fa-content($fa-var-twitter);
  }
}

.facebook {
  @extend %fa-icon;
  @extend .fab;

   &:before {
    content: fa-content($fa-var-facebook-f);
  }
}

.instagram {
  @extend %fa-icon;
  @extend .fab;

   &:before {
    content: fa-content($fa-var-instagram);
  }
}