footer {
	margin-top: 65px;
	background:$color__primary;

	padding:6.25em 0 2.8em 0;

	.follow, .subscribe {
		text-align:center;
	}

	h3 {
		color:white;
		font-size: 1.8em;
		line-height: 1.3em;
	}

	ul {
		list-style-type: none;

		li a {
			color: white;
			text-decoration: none;
			font-family: $font__title;
			font-size: 1.25em;
		}
	}

	.socials ul{
		list-style-type: none;
		display: flex;
		justify-content: space-between;

		a {
			font-family: $font__title;
		}
	}

	.follow a {
		color: #3D041E;
		text-decoration: underline;
	}

	.subscribe {
		padding-top:2em;
	}

}

.menu-footer {

	color: white;
	font-family: $font__title;
	
	a, a:hover, a:visited {
		color: white;
		text-decoration: none;
	}
	
	
	#logo {
		fill: white;
		margin-bottom: 1.25em;
		width: 100px;
		height: auto;
	}

	.row:before, .row:after {
		content: "";
		background: #3D041E;
		height:1px;
		width: 100%;
		display: block;
		margin: 4em 0;
	}

	.contact {
		line-height: 1.3;

		a {
			color: white;
			text-decoration: underline;
		}

		address {
			margin-bottom: 1.5em;
		}

	}
}


.socials a, .socials a:hover, .socials a:visited {
	color: white;
	text-decoration: none;
}

.socials li:before {
	font-size: 30px;
	color: #3D041E;
	padding-right: 15px;
	vertical-align: middle;
}

.twitter {
  @extend %fa-icon;
  @extend .fab;

   &:before {
    content: fa-content($fa-var-twitter);
  }
}

.facebook {
  @extend %fa-icon;
  @extend .fab;

   &:before {
    content: fa-content($fa-var-facebook-f);
  }
}

.instagram {
  @extend %fa-icon;
  @extend .fab;

   &:before {
    content: fa-content($fa-var-instagram);
  }
}

.portfolio-content  footer, .blog-content footer, .single footer, .page-standard-content footer {
	margin-top: 0;
}

