input, textarea {
    background: #3d041e;
    border-radius: 5px;
    border:none;
    font-size:1.3em;
    font-family: $font__primary;
    color: #c77c98;
}

input:-ms-input-placeholder {
    color: #c77c98;
  }

input::placeholder {
    color: #c77c98;
  }

textarea::placeholder {
    color: #c77c98;
  }

input[type=text], input[type=email] {
    padding: 1.6rem 1.1rem;
}

button.btn-submit, button.btn-submit:hover {
    background: #c77198;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 1.6rem;
    color: #750e40;
    font-size: 1.3em;
    font-family: $font__primary;
    text-transform: uppercase;
}




textarea {
    padding-top: 1.6rem;
    padding-left: 1.1rem; 
}

#ilestunefois-connect-form {

    input, textarea {
        width: 100%;
    }

    textarea {
        height: 19rem;
    }

    .field-container {
        position: relative;
        margin-bottom: 20px;
    }

    .field-msg {
        display: none;
        position: absolute;
        left: 2px;
        bottom: -14px;
        font-size: 9px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.05em;

        &.show { 
            display: block;
        }
    }

    .error {
        color: rgb(144, 19, 19);
    }

    .success {
        color: rgb(47, 129, 47);
    }
}