.header-container {

	position: relative;
	overflow: hidden;

	h1 {
		color: #FFFFFF;
		font-size: 7vw;
		/* font-size: 4em; */
		margin-bottom: 0.3em;
		font-family: $font__title;

		@media (min-width: 1920px) {
		  font-size: 6vw;
		}
	}

	h2 {
		color: #FFFFFF;
		font-size: 5vw;
		margin: 10px 0 0 0;
		font-family: $font__title;
		line-height: 1.2;
		padding: 0 1em;

		span {
			font-size:3vw;
			display: block;
			padding-top: 0.3em;
			@media (min-width: 1920px) {
			  font-size: 1.5vw;
			}
		}

		@media (min-width: 1920px) {
		  font-size: 3vw;
		  width:50%;
		 margin: 0 auto;
		}
		
	}
}

.header-content.landing-page {
	h1 {
		font-size: 3vw;
	}
}
.header-content:not(.landing-page) {

	&.section.limited {
		width: 83%;
    margin: 0 auto;
	}

	/* &.landing-page {
		h1 {
			font-size: 1.5em!important;
			margin-left: 1.1em;
			margin-top: 2.1em;

			@media(min-width:992px) {
				font-size: 3.75em!important;
				margin-left: 0;
				margin-top: 0;
			}
		} 

		.read-more {
			color: white;
			margin-left: 1.1em;
			
			@media(min-width:992px) {
				width: auto;
				margin-left: 1.1em;
			}
		}
	}*/
} 



.page-template-services .header-container {

	h1 {
		color: $color__primary;
		margin-bottom: 0;
	}

	.sous-h1 {
		font-family: $font__primary;
		color: $color__primary;

		font-size: 1.5em;

		@media(min-width: 992px) {
			font-size: 2.62em;
			margin-left: 3.1em;
			line-height: 1;
			width:84%;
		}
	}
}



.sub_header {
	position: relative;
	overflow: hidden;

	video {
		position: absolute;
		height: 100%;
	    width: 177.77777778vh; /* 100 * 16 / 9 */
	    min-width: 100%;
	    min-height: 56.25vw; /* 100 * 9 / 16 */
	    top: 50%;
	    left: 50%;
	    transform: translate(-50% , -50%);
	}
}



.header-container:not(.post-type-post) {

	height: 93vh;
	overflow: hidden;

	@media(min-width: 992px) {
		height: 95vh;
	}

	video {
	    filter: brightness(70%);
		position: absolute;
		height: 100%;
	    width: 177.77777778vh; /* 100 * 16 / 9 */
	    min-width: 100%;
	    min-height: 56.25vw; /* 100 * 9 / 16 */
	    top: 50%;
	    left: 50%;
	    transform: translate(-50% , -50%);
	}
}

.home {
	.header-content {
		
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		right: 0;
		left: 0;
		margin: 0 auto;

		@media (min-width: 1920px) {
			top: 41%;
		}

	} 
}

.header-pages.header-container:not(.post-type-post) {

	height: 40vh;

	&.open {
		height: 100vh;
	}

	ul {
		text-align:center;


		@media (min-width:992px) {
			text-align:left;
		}
	}


.header-content {
		position: absolute;		
	}
}

.header-pages.header-container:not(.post-type-post) {
	@media (min-width: 992px) {
		height: 80vh;
	}
}

.header-pages.header-container.post-type-post {

	min-height: 180px;

	@media (min-width: 992px) {
		min-height: 320px;
	}
}

.header-content {
	  top:50%;
		transform: translateY(-50%);
}

.header-content:not(.landing-page) {


	h1 {
			margin-left: 1.1em;
	}
}

.page-template-services .header-container {
		
		@media (min-width: 1200px) {
			height: 100vh;
		}	

		.header-content {
			@media (min-width: 1200px) {
				top: 30%;
			}	
		}
}

.sub_header {

	height: 18em;
	margin: 0 auto;


	@media (min-width: 768px) {
		height: 49em;
	}
}

.page-template-agency .sub_header, .page-template-brownbg .sub_header {
	height: auto;
}




.mouse {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom:30vh;
	background: url('../../img/mouse.svg');
	width:1.75em;
	height:3em;
	background-size:cover;
}


.dropdown-menu {
	top:68%!important;
}


