.header-container {


	position: relative;
	overflow: hidden;

	h1 {
		color: #FFFFFF;
		/* font-size: 8vw; */
		font-size: 4em;
		font-family: $font__title;

		@media (min-width: 1200px) {
    		font-size: 6.25em;
 		}
	}

	h2 {
		color: #FFFFFF;
		font-size: 7vw;
		margin: 10px 0 0 0;
		font-family: $font__title;
		line-height: 1.2;
		padding: 0 1em;

		span {
			font-size:5vw;
			display: block;
			padding-top: 1em;
		}
		
	}
}

.sub_header {
	position: relative;
	overflow: hidden;

	video {
		position: absolute;
		height: 100%;
	    width: 177.77777778vh; /* 100 * 16 / 9 */
	    min-width: 100%;
	    min-height: 56.25vw; /* 100 * 9 / 16 */
	    top: 50%;
	    left: 50%;
	    transform: translate(-50% , -50%);
	}
}

.home {
	.header-container {

		height: 100vh;
		overflow: hidden;

		video {
		    filter: brightness(70%);
			position: absolute;
			height: 100%;
		    width: 177.77777778vh; /* 100 * 16 / 9 */
		    min-width: 100%;
		    min-height: 56.25vw; /* 100 * 9 / 16 */
		    top: 50%;
		    left: 50%;
		    transform: translate(-50% , -50%);
		}

		.header-content {
			
			position: absolute;
			top:50%;
			transform: translateY(-50%);
			right: 0;
			left: 0;
			margin: 0 auto;

		} 
	}
}

@media (min-width: 1920px) {
	.home {
		.header-container {

			/* overflow: auto; */
			
			video {
				top: 0;
				left: 0;
				width: 100%;
				/* z-index: -100; */
				transform: none;
				min-height: 0;
				height: auto;
			}

			.header-content {
				width: 65%;
				/* margin: 8.2em auto 0 auto; */
				

				h1 {
					margin: 0;
				}

				h2 {
					font-size: 4.68em;

					span {
						font-size: 0.5em;
					}

				}

				/* @media (min-width: 992px) {
					    	width:50%;
					 	} */
			} 
		}
	}
}


.header-pages.header-container {

	height: 40vh;

	&.open {
		height: 100vh;
	}

	ul {
		text-align:center;


		@media (min-width:992px) {
			text-align:left;
		}
	}


	.header-content {
		position: absolute;
		top:50%;
		transform: translateY(-50%);

		h1 {
			margin-left: 1.1em;
		}

	}

	@media (min-width: 992px) {
		height: 80vh;
	}
}

.sub_header {

	height: 18em;
	margin: 0 auto;


	@media (min-width: 992px) {
		height: 49em;
	}
}

.page-template-agency .sub_header {
	height: auto;
}




/* 	.mouse {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom:30vh;
	background: url('../../img/mouse.svg');
	width:1.75em;
	height:3em;
	background-size:cover;
}
 */
