.header-container {
	position: relative;
	display: block;
	height: 50vh;
	margin-top: 15px;

	.header-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		margin-top: -100px;
		height: inherit;
		width: 80%; 
		

		h1 {
			color: #FFFFFF;
			font-size: 8vw;
			margin: 5px 0;
			font-family: $font__title;

			@media (min-width: 768px) {
	    		font-size: 4vw;
	 		}
		}

		h2 {
			color: #FFFFFF;
			font-size: 5vw;
			margin: 5px 0;
			font-family: $font__title;
			line-height: 1;

			@media (min-width: 768px) {
	    		font-size: 3vw;
	 		}
		}

		@media (min-width: 768px) {
	    	width:50%;
	 	}
	} 

	.mouse {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom:10vh;
		background: url('../../img/mouse.svg');
		width:47px;
		height:81px;
	}

	@media (min-width: 768px) {
	    height:100vh;
	 }
}

/* .header-container {
	position: relative;
	display: block;
	height: 50vh;

	.header-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		margin-top: -100px;
		height: inherit;
		width: 50%; 
		

		h1 {
			color: #FFFFFF;
			font-size: 4vw;
			margin: 5px 0;
			font-family: $font__title;
		}

		h2 {
			color: #FFFFFF;
			font-size: 3vw;
			margin: 5px 0;
			font-family: $font__title;
			line-height: 1;
		}
	} 
} */



