.page-standard-content {

	.module:not(:first-child) {
		margin:6em 0;
	}

	.section:first-child {
		margin-bottom:3.1em;
	}

	h3 { 
		font-size: 2.1em;
		margin: 2.5rem 0;
	}

}

#image_text_alignment_vertical {

	.container-fluid {
		
		.bg {
			width: 100%;
			height: 33.5em;
			border: 2.8em solid white;

		}

		.module-content {
			margin: 0 2.8rem;

			h2 {
				margin-bottom: 3rem;
			}
		}
	}
}

.three_col_element .column {
	padding:2.8em!important;
	
	@media (min-width: 768px) {
		padding: 0 2.8em;
	}

	
	h3 {
		margin-bottom: 0;
	}

	p {
		margin-top: 2.5rem;
	}
}

#call_to_action {

	text-align: center;
	color: #FFF;
	
	.column {
		background-color: $color__primary;
		@include boxshadow;
		padding:2em 4.3em;
	}

	h3, h4 {
		color: white;
	} 

	h3 {
		font-size: 2.1em;
		margin-bottom: 1.75rem;
		margin-top: 0;
	}

	h4 {
		font-size: 1.5em; 
		margin-bottom: 0.25rem,
	}

	.read-more:before, .read-more:after {
		border-color: white; 
	}

	.read-more {
		a {
			padding: .38rem 0 .38rem 3.1rem;color: white;
		}

		a:after {
		 margin-left: 2.5rem;
		 margin-right: 0.9rem;
		 background-image: url(../../img/right-arrow-white.svg);
		}
	}

}

.cta, .cta_white {
	&.read-more:before, &.read-more:after {
		border-color: white;
	}

	&.read-more {
		a {
			padding: .38rem 0 .38rem 0.38rem;
			color: white;

			@media (min-width: 768px) {
				padding: .38rem 0 .38rem 3.1rem;
			}	
		}

		a:after {
		 margin-left: 2.5rem;
		 margin-right: 0.9rem;
		 background-image: url(../../img/right-arrow-white.svg);
		}
	}

}