#navbarNav-container {
	@media (min-width: 992px) {
		padding-top: 0;
		padding-right: 0;
	  	align-items: flex-start;
	 }
}

.navbar {
	padding: 0;
	background: white;
	flex-direction: row-reverse;
	position: fixed;
	top: 0;
	width: 100%;
	transition: all 1s;

	.fi {
		font-size: 2em;
	}

	.connect-mobile {
		
		background: $color__primary;
		padding:1em 1.5em;

		.fi {
			color:white;
		}
	}

	.fi {
		color: black;
	}

	.menu-item:not(:last-child) a {
		color:black!important;
	}

	#logo {
		filter: invert(1);
		width: 94px; 
	}
}



.navbar-brand {
	padding: 0 0 0 1.75em;
	align-self: center;
	transition: transform 0.5s;

	.cls-1{
		fill: #fff;
	}

	.cls-2{
		fill: #fff;
	}

}

.navbar-ilestunefois {
	.nav-item {
		
		@media (min-width: 992px) {
			padding: 2.8em 3.1em;

			

			&:last-child {
				padding-left: 4.6em;
				padding-right: 4.6em;
			}
		}
	}
	.nav-link {
		color: #FFF!important;
		text-decoration: none;
		font-family: $font__title;
		font-size: 1.2em;
		padding: 0;

		/* &:hover, .active {
			color: $color__primary!important;
		} */
	}


	.menu-btn {
		text-transform: uppercase;
		@media (min-width: 992px) {
			background: $color__primary;
		}
	}
}


/*************************************
	STICKY
	**********************************/


.navbar.sticky {
	position:fixed;
	top: 0;
	width:100%;
	background: white;
	z-index: 8888;

	ul {
		margin-right: 5em;
	}

	+ .content-container {
		padding-top: 102px;
	}

	.menu-item:not(:last-child) a {
		color:black!important;
	}

	#logo {
		filter: invert(1);
	}

	.navbar-brand {
		transform: scale(.8);
		padding-top: 0;
		padding-bottom: 0;
		
	}

}

@media (min-width: 768px) {
	.navbar {

		background: transparent;
		flex-direction: row;
		position:relative;

		.connect-mobile {
			display: none;
		}

		.menu-item:not(:last-child) a {
			color:white!important;
		}

		#logo {
			filter: invert(0);
			width: 144px;
			height: 73px;
		}
	}
}



@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 0;
	    padding-left: 0;
	}

	.navbar.sticky .nav-item {
	    padding: 1.7em 3.1em;
	}
}

@media (min-width: 2560px) {
	#logo {
		width: 188px;
		height: 95px;
	}
}

