// COLORS & HOVERS
/**********************************/
.menu-btn {
	align-items: center;
	padding-top: 0!important;
	padding-bottom: 0!important;

	.nav-link {
		padding-top:0!important;
		padding-bottom:0!important;
	}
}

.footer-btn {
	margin-top: 15px;
	a {
		text-transform: uppercase;
		padding: 8px;
		color: white;
		border: 2px solid white;
	}
}

@media(max-width: 992px) {
	#navbarNav {
		padding: 1.5em;
		
		> ul  li {
			margin:10px 0;
			a {
				font-size: 14px,
			}
		}
		.mega-menu {
 			.dropdown-menu {
				li {
					margin: 5px;
					padding: 0
				}
			} 
		}
	}
}


.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .active>.nav-link {
	transition: color 0.5s;
	color: #1b262c;


	@media (min-width: 992px) {
		color: white;
	}
}

@media(max-width: 992px) {
	.item-btn {
		padding: 15px;
	}
}
.item-btn {
	a {
		color: white!important;
	}
	background: $color__primary;
	&:hover {
		background: $color__secondary;
		a {
			color: $color__primary!important;
		}
	}
}

.sub-logo {
	font-family: $font__primary;
	font-size: .9em;
	color: white;
}

/* .home .sub-logo {
	margin-left: -17px;
} */ 

.page-template-services {
	.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .active>.nav-link {

		@media (min-width: 992px) {
			color:$color__primary;
		}
	}
	.menu-btn	{
		background: $color__primary;
		
		.nav-link {
			color: white!important;
		}
	}

	#logo {

		@media (min-width: 992px) {		
			filter:none;
			stroke: $color__primary;

			path, polygon {
				fill: $color__primary;
			}
		}
	}

	.sub-logo {
		color: $color__primary;
	}
}

.home {
	.navbar-dark .navbar-nav .nav-link {

		&:hover {
			color: $color__secondary;
		}
	}

	.menu-btn a:hover {
		color: $color__primary!important;
	}

	.menu-btn {
		transition: color 0.5s;
		background: $color__primary;

		&:hover {
			background: $color__secondary;

			> a {
				color: $color__primary!important;
			}
		}
	}
}

.page-template-portfolio, .page-template-blog, .single, .archive, .page-template-page_standard {
	.navbar-dark .navbar-nav .nav-link,   {

		&:hover {
			color: $color__primary;
		}
	}

	.menu-btn a:hover {
		color: $color__secondary!important;
	}

	.menu-btn {
		transition: color 0.5s;
		background: $color__primary;

		&:hover {

			> a {
				color: $color__secondary!important;
			}
		}
	}	
}

.page-template-agency, .page-template-chooseus {
	.navbar-dark .navbar-nav .nav-link {

		&:hover {
			color: $color__secondary;
		}
	}

	.menu-btn a:hover {
		color: $color__primary!important;
	}

	.menu-btn {
		transition: color 0.5s;
		background: $color__secondary;

		&:hover {

			> a {
				color: $color__primary!important;
			}
		}
	}	
}

.page-template-landing {
	.navbar-dark .navbar-nav .nav-link {

		&:hover {
			color: $color__primary;
		}
	}

	.menu-btn a:hover {
		color: $color__primary!important;
	}

	.menu-btn {
		transition: color 0.5s;
		background: $color__primary;

		&:hover {

		>	a {
				color: $color__secondary!important;
			}
		}
	}	
}

.navbar.sticky a:hover {
	color: $color__secondary;
}

.navbar-ilestunefois {
	height: auto;
	transition: all 1s;
	
	&.show {
		transition: all 1s;
	/* 	height: 80vh; 
		display: flex; */

		ul {
			/* margin-right: auto; */

			li {

			/* 	margin: 1em 0; */

				/* a {
					font-size: 2em;
				} */
			}
		}
	}
}

#navbarNav-container {
	@media (min-width: 992px) {
		padding-top: 0;
		padding-right: 0;
	  align-items: flex-start;
	 }
}

.navbar {
	padding: 0;
	z-index: 1; 
	background: white;
	flex-direction: row-reverse; 
	/* position: fixed;
	top: 0;
	width: 100%; */
	transition: all 1s;

	.fi {
		font-size: 2em;
	}

	.connect-mobile {
		
		background: $color__primary;
		padding:1.1em 1.5em;

		.fi {
			color:white;
		}

		@media (min-width:992px) {
			display: none;
		}
	}

	.fi {
		color: black;
	}

	/* .menu-item:not(:last-child) a {
		color:black;
	} */

	#logo {
		filter: invert(1);
		width: 93px; 
		margin-top: 1px;
	}
}

.navbar-brand {
	padding:0;
	align-self: center;
	transition: transform 0.5s;

	.cls-1{
		fill: #fff;
	}

	.cls-2{
		fill: #fff;
	}

	@media (min-width: 992px) {
		padding: 0 0 0 1.75em;
	}

}

.navbar-ilestunefois {
	.nav-item {
		
		@media (min-width: 992px) {
			padding: 2.8em 1.5em;

		/* 	&:last-child {
				padding-left: 4.6em;
				padding-right: 4.6em;
			} */
		}

		@media (min-width: 1200px) {
			padding: 2.8em 3.1em;
		}
	}
	.nav-link {
		color: #FFF;
		text-decoration: none;
		font-family: $font__title;
		font-size: 1.2em;
		padding: 0;
	}

	.menu-btn {
		text-transform: uppercase;
	}
}


/*************** DROPDOWNS ***************/
/* Reset Bootstrap dropdown menu styles */
.dropdown-menu {
	background: initial !important;
	border: initial !important;
	margin: initial !important;
}

.dropdown-item {
	color: initial !important;
	padding: initial !important;
}

.menu-item-has-children > a:after {
	content: "\f0d7";
	font-size: 14px;
	margin-left: 5px;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	color: $color__primary;
	display: inline-block;
}

.mega-menu .dropdown-menu .menu-item-has-children > a:after {
	content: none;
}

.dropdown-menu {
	background: white!important;
	min-width: 0!important;
	opacity: 0;
	top: 80px;
	left: auto;
	li {
		line-height: 1.2;
	}
	@media(min-width: 992px) {
		.nav-item {
			padding: 5px 15px;
		}
	}
}


.mega-menu {
	position: relative;
	
	
	a {
		font-size: 12px;
	}

	>.dropdown-menu{ 
		display: none;
		padding: 10px;
		gap: 25px;
		font-family: $font__main;
		transition: opacity .3s;
		
		.dropdown-menu {
			display: none;
			opacity: 0;
			position: relative;
			top: 0;

			li {
				padding: 5px 0; 
				line-height: 1.2;

			}
		}
	}

	.service-menu-parent {
		& > a {
			color: $color__primary!important;
			font-size: 1rem;
			font-family: $font__primary;
		}
	}
}



@media(min-width: 992px) {
	.dropdown:not(.mega-menu) {
		&:hover { 
			.dropdown-menu {
				opacity: 1!important;
				display:block;
			
			}
		 }
	} 

	.mega-menu:hover {
		> .dropdown-menu {
			opacity: 1!important;
			display: block;
			@media(min-width: 992px) {
					display:flex!important;
			}
		
			.dropdown-menu {
				display: block;
				opacity: 1;
			}
		}
	}
}


/* Apply hover styles to all li a elements within the dropdown, excluding .service-menu-parent a */
.dropdown-menu > li:not(.service-menu-parent) > a:hover {
	background-color: #f8f9fa!important;
}
.service-menu-parent a:hover {
	background: transparent!important;
}

.dropdown-item:active  {
	background: transparent!important;
}


/*************************************
	STICKY
	**********************************/
.navbar.sticky {
	position:fixed;
	top: 0;
	width:100%;
	background: white;
	z-index: 8888;

	ul {
		
		@media (min-width: 992px) {
			margin-right: 5em;
		}
	}

	+ .content-container {
		padding-top: 102px;
	}

	.menu-item:not(:last-child) a {
		color:black;
	}

	#logo {
		filter: invert(1);
	}

	.navbar-brand {
		transform: scale(.8);
		padding-top: 0;
		padding-bottom: 0;
		
	}

}

.page-template-services {
	.navbar.sticky {
		#logo {
			filter: none;
			stroke: black;

			path, polygon {
				fill: black;
			}
		}
	}
}



@media (min-width: 992px) {
	.navbar {
		background: transparent;
		flex-direction: row;
		position:relative;

		.connect-mobile {
			display: none;
		}

		/* .menu-item:not(:last-child) a {
			color:white;
		} */

		.menu-item a {
			color:white;
		}

		

	
		#logo {
			filter: invert(0);
			width: 144px;
			height: 73px;
		}
	}



	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 0;
	    padding-left: 0;
	}

	/* .navbar.sticky .nav-item {
	    padding-right: 3.1em;
			padding-left: 3.1em;
	} */
}

@media (min-width: 2560px) {
	#logo {
		width: 188px;
		height: 95px;
	}
}



.sticky .sub-logo {
	color: black;
}

@media (min-width: 1200px) {
	.collapse {
			display: none !important;
	}
}