// COLORS & HOVERS
/**********************************/
.nav-item:last-child {
	display: none;

	@media (min-width: 992px) {
		display: block;
	}
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .active>.nav-link {
	transition: color 0.5s;
	color: #1b262c;


	@media (min-width: 992px) {
		color: white;
	}


}
.home {
	.navbar-dark .navbar-nav .nav-link {

		&:hover {
			color: $color__secondary;
		}
	}

	.menu-btn a:hover {
		color: $color__primary!important;
	}

	.menu-btn {
		transition: color 0.5s;
		background: $color__primary;

		&:hover {
			background: $color__secondary;

			a {
				color: $color__primary!important;
			}
		}
	}
}


.page-template-portfolio, .page-template-blog, .single, .archive {
	.navbar-dark .navbar-nav .nav-link,   {

		&:hover {
			color: $color__primary;
		}
	}

	.menu-btn a:hover {
		color: $color__secondary!important;
	}

	.menu-btn {
		transition: color 0.5s;
		background: $color__primary;

		&:hover {

			a {
				color: $color__secondary!important;
			}
		}
	}	
}

.page-template-agency {
	.navbar-dark .navbar-nav .nav-link {

		&:hover {
			color: $color__secondary;
		}
	}

	.menu-btn a:hover {
		color: $color__primary!important;
	}

	.menu-btn {
		transition: color 0.5s;
		background: $color__secondary;

		&:hover {

			a {
				color: $color__primary!important;
			}
		}
	}	
}

.navbar.sticky a:hover {
	color: $color__secondary;
}




.navbar-ilestunefois {
	height: auto;
	transition: all 1s;
	
	&.show {
		transition: all 1s;
		height: 80vh;
		display: flex; 

		ul {
			margin-right: auto;

			li {

				margin: 1em 0;

				a {
					font-size: 2em;
				}
			}
		}
	}
}

#navbarNav-container {
	@media (min-width: 992px) {
		padding-top: 0;
		padding-right: 0;
	  	align-items: flex-start;
	 }
}

.navbar {
	padding: 0;
	z-index: 1;
	background: white;
	flex-direction: row-reverse; 
	/* position: fixed;
	top: 0;
	width: 100%; */
	transition: all 1s;

	.fi {
		font-size: 2em;
	}

	.connect-mobile {
		
		background: $color__primary;
		padding:1.1em 1.5em;

		.fi {
			color:white;
		}

		@media (min-width:992px) {
			display: none;
		}
	}

	.fi {
		color: black;
	}

	/* .menu-item:not(:last-child) a {
		color:black;
	} */

	#logo {
		filter: invert(1);
		width: 93px; 
		margin-top: 1px;
	}
}



.navbar-brand {
	padding:0;
	align-self: center;
	transition: transform 0.5s;

	.cls-1{
		fill: #fff;
	}

	.cls-2{
		fill: #fff;
	}

	@media (min-width: 992px) {
		padding: 0 0 0 1.75em;
	}

}

.navbar-ilestunefois {
	.nav-item {
		
		@media (min-width: 992px) {
			padding: 2.8em 3.1em;

			

			&:last-child {
				padding-left: 4.6em;
				padding-right: 4.6em;
			}
		}
	}
	.nav-link {
		color: #FFF;
		text-decoration: none;
		font-family: $font__title;
		font-size: 1.2em;
		padding: 0;
	}


	.menu-btn {
		text-transform: uppercase;
	}
}


/*************************************
	STICKY
	**********************************/


.navbar.sticky {
	position:fixed;
	top: 0;
	width:100%;
	background: white;
	z-index: 8888;

	ul {
		
		@media (min-width: 992px) {
			margin-right: 5em;
		}
	}

	+ .content-container {
		padding-top: 102px;
	}

	.menu-item:not(:last-child) a {
		color:black;
	}

	#logo {
		filter: invert(1);
	}

	.navbar-brand {
		transform: scale(.8);
		padding-top: 0;
		padding-bottom: 0;
		
	}

}

@media (min-width: 992px) {
	.navbar {

		background: transparent;
		flex-direction: row;
		position:relative;

		.connect-mobile {
			display: none;
		}

		/* .menu-item:not(:last-child) a {
			color:white;
		} */

		.menu-item a {
			color:white;
		}

		#logo {
			filter: invert(0);
			width: 144px;
			height: 73px;
		}
	}
}



@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 0;
	    padding-left: 0;
	}

	.navbar.sticky .nav-item {
	    padding: 1.7em 3.1em;
	}
}

@media (min-width: 2560px) {
	#logo {
		width: 188px;
		height: 95px;
	}
}

