/* @font-face {
    font-display: block;
    font-family: Roboto;
    src: url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff) format("woff")
  }

  @font-face {
    font-display: fallback;
    font-family: Roboto;
    font-weight: 600;
    src: url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff")
  }

  @font-face {
    font-display: fallback;
    font-family: Roboto;
    font-weight: 700;
    src: url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff")
  } */

  #sib-container {
    background: transparent; 
  }

  .sib-form .entry__field {
    background: transparent;
    border-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
  }


   .sib-form {
      padding-bottom: 0;
   }
  .sib-form .input {
    font-family: 'Lato', sans-serif;
  }

  .sib-form .input_replaced:checked+.checkbox_tick_positive {
    background: transparent;
    border-color: #FFF;
  } 

 .sib-form .checkbox, .sib-form .radio-button {
   background: transparent;
  }

  .sib-form .entry__field:focus-within, .sib-form .input_replaced:active+.checkbox, .sib-form .input_replaced:active+.radio-button, .sib-form .input_replaced:focus+.checkbox, .sib-form .input_replaced:focus+.radio-button {
    box-shadow: none;
  }

  .sib-form .input, .sib-form .input__button {
    color: white;
  }

  .sib-form-block__button.sib-form-block__button-with-loader {
    background: transparent;
    padding-right: 2.1em;
    padding-left: 2.1em;
    transition: color .5s;
    color: #FFF;
    
    &:hover {
      color: $color__secondary;
    }

    &:focus {
      outline: none;
    }
  }

  .submit-container {
   
    &:after, &:before {
      @include border-button;
      border-color: #FFF; 
      transition: border-color .5s;
    } 

    &:before {
      transform: translateY(5px);
    }

    &:after {
      transform: scaleY(-1) translateY(8px);
    }

    &:hover:after, &:hover:before {
      border-color: $color__secondary;
    }

    &:hover button {
      color: $color__secondary;
    }
  }

  .sib-form .clickable__icon {
    fill: white;
  }


  #sib-container input:-ms-input-placeholder {
    text-align: left;
    color: #FFF;
  }

  #sib-container input::placeholder {
    text-align: left;
    color: #FFF;
  }

  #sib-container textarea::placeholder {
    text-align: left;
    color: #FFF;
  }