/**********************************
	SECTIONS
	***********************************/


/***********************************
	GENERIC STYLES
	***************************************/


video  { 
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: -100;
}


body {
	margin: 40px;
}

.container-fluid, .container {
	padding-left: 0;
	padding-right: 0;
}

/* .section [class*="col"] {
	padding:80px;
	padding-right: 0;
    padding-left: 0;
} */


.text-img-block {
	.container-fluid {
		padding:12.5em 0 21.5em 0;
	}

	.column:first-child {
		padding-left: 10em;
	}
}

.content-container {
	position: relative;
	margin-top: -7.8em;
}


.section.limited .container-fluid {
	width: 83%;
}

#first-section {

	.container-fluid {
		/* background: $color__background-light-grey, url(../../img/logo_bg.svg); */
		background: url(../../img/logo_bg.svg),  $color__background-light-grey;
	    background-repeat: no-repeat;
	    background-size: 98%, auto;
	    background-position: 3074% center, 0 0 ;
	    padding-bottom: 20.3em;
	}

	p {
		width: 70%;
	}
	

	img {
		width:auto;
		max-width: none;
		right:0;
		left:0;
		margin:0 auto;
		height: 100%;
	}

	/* p {
		width: 70%;
	} */
}

#slider-section {
	background: #F8EFEC;
	padding: 3.1em 0 11em 0;
	position: relative;

	.testimonial-slider-container {
		width:75%;
		margin-left: -12em;
		margin-top: -9.4em;
	}


	.testimonial-container {
		background: white;
		padding: 3.2em 0;
		margin: 0 1em;
		@include boxshadow;
		display: flex;
		flex-direction:column;
		align-items:center;


		> * {
			margin: 1em 0;
		}

		.testimonial-fullname {
			font-family: $font__title;
			font-size: 1.5em;
			color: #1B262C;
		}

		.testimonial-review {

			width:85%;
			margin-right: auto;
			margin-left: auto;
			text-align:center;
			line-height: 1.8em;

			&:before {
				content: url('../../img/quote.svg');
				width:2.1em;
				display:block;
				margin-right: auto;
				margin-left: auto;
				margin-bottom: 1.9em;
				
			} 
		}
	}
}

#logo-section {
	margin-top: -7.1em;

	.column:first-child  {
		  background-color: #8DAA9D;
 		 background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.1.2, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 691.8 1548.7' style='enable-background:new 0 0 691.8 1548.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%236F8C7F;%7D%0A%3C/style%3E%3Cpath id='Tracé_3' class='st0' d='M54.9,0l532.7,779.2L0,1548.7h194.9l496.9-636.1V639.5L256.6,0H54.9z'/%3E%3C/svg%3E%0A");
		background-repeat:no-repeat;
		background-position: right;

		div {
			padding: 6em;

			ul {
				list-style-type:none;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;

				li {
					width:33%;
					padding:2em;

					img {
						width: 90%;
					}
				}
			}
		}

	}



	.column:last-child {
		background-color: $color__background-light-grey;
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.1.2, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 691.8 1548.7' style='enable-background:new 0 0 691.8 1548.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath id='Tracé_4' class='st0' d='M636.9,1548.7L104.2,772.5L691.8,0H496.9L0,639.1v273.1l435.2,636.5H636.9z'/%3E%3C/svg%3E%0A");
		background-repeat:no-repeat;
		background-position: left;
	
		> div {
			padding-left: 4.2em;
			position:absolute;
			top: 50%;
			transform: translateY(-50%);

			h3 {
				margin-bottom: 3.75rem;
			}

			p {
				width:80%;
				color: #2c241b;
			}

			.arrow {
				content: url(../../img/right-arrow.svg);
			   transform: scaleX(-1);
			   display: block;
			   margin-top: 4.6em;
			   width: 3.6em;
			   padding-left: 0;
			}
		}
	}

}


/****************************************
	PORTFOLIO
 	********************************************/

.portfolio-content {

	#first-section {
		width: 83%;
		height: 49em;
		margin: 0 auto;
	}

	#second-section {
		text-align: right;
		margin-top: 3.1em;
	}

	.videos-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.video-item {
			flex-basis: 45%;
			margin-bottom: 6.25em;
		}
	}

	.videos-categories {
		margin-top: 3.75em;
		margin-bottom: 3.1em;
	}

}

@media (min-width: 1200px) {
	.container {
		max-width: 1600px;
	}
}

