
// stylelint-disable value-keyword-case
/* $font__title: "gilroyextrabold", sans-serif;
$font__primary: "gilroyextrabold", sans-serif; */
$font__title: "gilroyextrabold", sans-serif;
$font__primary: "gilroyextrabold", sans-serif;
$font__main: "Lato", sans-serif;

/* $fa-font-path:  "../fonts/webfonts"; */


