/**********************************
	COLORS
	***********************************/
$color__main: #2C241B;
$color__primary: #750D37;
$color__secondary: #8dab9d;
/* $color__background-screen: #f1f1f1; */
$color__background-light-grey: #F3F3F3;
$animationSpeed: 40s;

/* $color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666; */

@mixin white-gradient {
	background: linear-gradient(to right,  #750D37 0%,rgba(255,255,255,0) 100%);
}


